<!--Container-->
<div class=" flex flex-row">
  <!--Container Grupo-->
  <section class="p-10 w-8/12 max-h-full bg-purple vector">
    <h1 class="flex text-inter text-white text-6xl font-bold  justify-center  text-center">Bem-vindo ao <br>Cideclasse</h1>
    <center><img class="img" src="/assets/grupo.png"></center>
  </section>

  <!--Container Formulario-->
  <section class=" flex   flex-col bg-gray justify-center  pl-24">
    <h1 class="text-inter text-white text-5xl font-bold pb-5">Login</h1>
    <p class="pb-5 p-padrao text-2xl">Entre com sua conta</p>
    <!--Formulario-->
    <form class="form p-padrao text-2xl"   id="form"  method="post">  
      <label for="nome" ></label><br>
      <input type="text" id="usename" name="nome" class="border-1 border-solid border-gray-300 border-b" placeholder="Usuario" required><br><br> 

      <input type="email" class="border-1 border-solid border-gray-300 border-b" id="email" placeholder="Senha" name="email"><br><br>
    </form>
    <h2 class="text-white  pb-12 text-poppins text-xl">Esqueceu a senha?</h2>

    <button class="btn  bg-purple text-white p-padrao rounded-xl h-12 btn-wide ">Login</button>


</div>


