<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>


  <body class="bg-gray">
<!--Container-->
    <div class=" flex flex-row">
  <!--Container Grupo-->
      <section class="p-10 w-8/12 max-h-full bg-purple vector">
      <h1 class="flex text-inter text-white text-6xl font-bold  justify-center  text-center">Bem-vindo ao <br>Cideclasse</h1>
      <center><img class="img" src="/assets/grupo.png"></center>
    </section>

<!--Container Formulario-->
    <section class=" flex   flex-col bg-gray justify-center  pl-24">
      <h1 class="text-inter text-white text-5xl font-bold pb-5">Login</h1>
      <p class="pb-5 p-padrao text-2xl">Entre com sua conta</p>
      <!--Formulario-->
      <form class="form p-padrao text-2xl"   id="form"  method="post">  
        <label for="nome" ></label><br>
        <input type="text" id="usename" name="nome" placeholder="Usuario" required><br><br>  
        <input type="email" id="email" placeholder="Senha" name="email"><br><br>
      </form>
      <h2 class="text-white  pb-12 text-poppins text-xl">Esqueceu a senha?</h2>

      <button class="btn  bg-purple text-white p-padrao rounded-xl h-12 btn-wide ">Login</button>

        
    </div>
    

    <script src='/javascripts/build.js'></script>
  </body>
</html>
